<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.river.im.mapper.FriendRequestMapper">

    <resultMap id="BaseResultMap" type="cn.river.im.entity.FriendRequest">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="toId" column="to_id" jdbcType="BIGINT"/>
            <result property="fromId" column="from_id" jdbcType="BIGINT"/>
            <result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
            <result property="validationMessage" column="validation_message" jdbcType="VARCHAR"/>
            <result property="isShow" column="is_show" jdbcType="TINYINT"/>
            <result property="isDel" column="is_del" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,to_id,from_id,
        creation_time,validation_message,is_show,
        is_del
    </sql>
</mapper>
